.main{
    margin-top: 150px;
    margin-bottom: 60px;
}

.main__links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 5px;
    margin-bottom: 15px;
}
.main__link{
    color: var(--color-l-gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
}
.main__link.active{
    color: var(--color-black);
}
.main__title{
    color: var(--color-black);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main__block{
    margin-top: 60px;
}
.main__block-name{
    color: var(--color-black);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}
.main__table-name{
    color: var(--color-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    vertical-align: middle;
    padding: 39px 10px;
    white-space: nowrap;
}
.main__table-descr{
    color: var(--color-black);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    vertical-align: middle;
    padding: 37px 25px;
    white-space: nowrap;
}
.main__table{
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: scroll;
}


.main__table-wrapper {
    border: 1px solid var(--color-gray-blue);
    border-radius: 10px;
    width: 100%;
    min-width: 1250px;
}
.main__table {
    width: 100%;
    min-width: 1250px;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: hidden;
}

.main__table th, .main__table td {
    border: 1px solid var(--color-gray-blue);
}

.table-1 th{
    width: 12.5%;
}
.table-2 th{
    width: 16.66%;
}
.table-3 th{
    width: 33.33%;
}
.main__table-content{
    overflow: auto;
    margin: 0 -10px;
    padding: 0 10px;
}
.main__table-content::-webkit-scrollbar {
    display: none; 
}



@media (max-width: 940px){
    .main {
        margin-top: 102px;
        margin-bottom: 30px;
    }
    .main__block{
        margin-top: 30px;
    }
    .main__block + .main__block {
        margin-top: 60px;
    }
}
@media (max-width: 571px){
    .main {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .main__title{
        font-size: 24px;
        text-align: left;
        margin: 0px -10px;
        padding: 0px 10px 16px;
        border-bottom: 1px solid var(--color-gray-blue);
    }
    .main__block {
        margin-top: 26px;
    }
    .main__block-name{
        text-align: left;
        margin-bottom: 16px;
        font-size: 24px;
    }
    .main__link{
        font-size: 12px;
    }
}